<div class="container about-container">
  <div class="row">
    <div class="about-text">
      <h2>About me</h2>
      <div class="polaroid-image">
        <img src="./assets/images/holly.jpg" class="profile-image" alt="Picture of dark haired woman with glasses glaring at a black cat"/>
        <p class="photo-caption">We're both intrigued by this article on React routers</p>
      </div>
      <p>I coded my first website using Microsoft Notepad, Netscape Navigator (remember that one?), and a copy of HTML for Dummies. It included frames, and probably some "under construction" graphics from time to time.</p>

      <p>I kept practicing on my own and in various jobs until I had the chance last fall to start code school. These days I'm enjoying my deep dive into the mysterious world of frameworks, package managers, and missing semi-colons.</p>

      <p>When I'm not coding, I enjoy reading, photography, gardening, writing ridiculous social media posts, volunteering, and being outdoors. I like to hike and kayak, and I love being at the beach. I'm also a cymbalist with the Last Regiment of Syncopated Drummers and the volunteer coordinator for the Portland Old Time Music Gathering.</p>

      <p>Have a web application that you need help with? Just want to chat about code? I'd love to talk with you - get in touch!</p>


    </div>
  </div>

</div>
