<div class="container about-container">
  <div class="row">
    <div class="col-9 about-text">
      <h2>About me</h2>
      <p>When I'm not coding, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <hr/>

    </div>
    <div class="col">
      <div class="polaroid-image">
        <img src="./assets/images/holly.jpg" class="profile-image" alt="Picture of dark haired woman with glasses glaring at a black cat"/>
        <p class="photo-caption">We're both intrigued by this article on React routers</p>
      </div>
    </div>
  </div>

</div>
