<div class="projects-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
      <div class="card bg-light margin-bottom-sm">
        <img class="card-img-top" src="./assets/images/rails.jpg" alt="Ruby on Rails Survey 2018">
        <div class="card-body">
          <p class="custom-title">Ruby on Rails Survey 2018</p>
          <p class="custom-subtitle">React</p>
          <p class="card-text">This is my internship project for Planet Argon. The second intern and I worked together to decide what framework and libraries to use, under the guidance of a staff developer and based on sketches from their designer. We used some existing CSS styles from a previous year to ensure design consistency, but otherwise we built the site ourselves from application setup to chart coding to deployment.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>React, Chartist, Bootstrap, SCSS</p>
          <hr/>
          <a href="http://rails-hosting.com/2018/" target="_blank" class="card-link">Live site</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
      <div class="card bg-light margin-bottom-sm">
        <img class="card-img-top" src="./assets/images/wic.jpg" alt="Picture of baby girl being held by her mother and looking directly into the camera lens">
        <div class="card-body">
          <p class="custom-title">WIC Photo Library</p>
          <p class="custom-subtitle">React</p>
          <p class="card-text">For my Epicodus capstone project, I chose to work on a photo library interface for a previous employer to enable them to share their new custom stock photos with staff around the state. This is still a work in progress. The finished product will include a separate page with photo details, user login, and an improved admin console.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>React, React Bootstrap, Firebase</p>
          <hr/>
          <a href="https://github.com/hollywilkalis/wic-photo-library" class="card-link">GitHub repository</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
      <div class="card bg-light margin-bottom-sm">
        <img class="card-img-top" src="./assets/images/track.jpg" alt="Soft focus picture of train track leading into foggy distance">
        <div class="card-body">
          <p class="custom-title">Sleep Train</p>
          <p class="custom-subtitle">Angular</p>
          <p class="card-text">This was an Epicodus team week project. It started out as an online mood tracker but we realized we'd been too ambitious given the available time and so it was scaled it back to a sleep tracker. This was my first time being the project repository manager and I learned a lot about effectively managing pull requests.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>Angular2, ElectronJS, Typescript, ChartsJS, Angular Charts, Firebase</p>
          <hr/>
          <a href="https://github.com/hollywilkalis/pocket-cheerleader.git" class="card-link">GitHub repository</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
      <div class="card bg-light margin-bottom-sm">
        <img class="card-img-top" src="./assets/images/minesweeper.jpg" alt="Pink and blue minesweeper game board">
        <div class="card-body">
          <p class="custom-title">Minesweeper</p>
          <p class="custom-subtitle">Javascript</p>
          <p class="card-text">This is our Epicodus Javascript team week project. The game logic is largely thanks to Luke, our resident coding whiz. I primarily worked on the user interface, animations, styling, and creating the SASS mixins and functionalities necessary to swap game themes.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>HTML, JavaScript, CSS, SASS, and LOTS of whiteboarding</p>

          <hr/>
          <p>
            <a href="https://lukebertram.github.io/minesweeper/" class="card-link">Live site*</a>
            <a href="https://github.com/lukebertram/minesweeper" class="card-link">GitHub repository</a>
          </p>

          <p><em>*Note: game animations may not work in all browsers</em></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
      <div class="card bg-light margin-bottom-sm">
        <img class="card-img-top" src="./assets/images/oha.png" alt="Oregon Health Authority logo">
        <div class="card-body">
          <p class="custom-title">Oregon Health Authority site migration and update</p>
          <p class="custom-subtitle">Sharepoint CMS</p>
          <p class="card-text">I had the chance to spend about eight months working with my agencys web team to migrate the site to a new version of Sharepoint with responsive layouts. We faced a lot of challenges, including outdated content, thousands of broken links and orphaned documents, and the need to accommodate a wide variety of editor skill levels. But I'm proud of the work I did to create a site that is more usable for both staff and the public.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>Bootstrap, HTML, Sharepoint</p>

          <hr/>
          <ul>
            <li><a href="./assets/documents/oregon-wic.pdf" class="card-link">Oregon WIC landing page (screenshots)</a></li>
            <li><a href="./assets/documents/vital-statistics.pdf" class="card-link">Vital Statistics Annual Reports page (screenshots)</a></li>
            <li><a href="./assets/documents/radiation.pdf" class="card-link">Radiation orders archive page (screenshots)</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
      <div class="card bg-light margin-bottom-sm">
        <img class="card-img-top" src="./assets/images/fist-bump.png" alt="Picture of word 'bump' stenciled onto pavement, with word 'fist' chalked above it">
        <div class="card-body">
          <p><span class="custom-title">Miscellaneous</span><br/>
          <p class="custom-subtitle">Flying blobs</p>
          <p>Our Epicodus class included a five week segment on advanced CSS. One of our in-class projects gave us a chance to learn more about CSS transitions and animations, and we had a little fun playing with movement and scrolling backgrounds.</p>
          <a href="http://hollywilkalis.github.io/flying-blobs" class="card-link">Live site</a>
          <a href="https://github.com/hollywilkalis/flying-blobs" class="card-link">GitHub repository</a>
          <hr />
          <p class="custom-subtitle">WECODE Hackathon 2017</p>
          <p>In December 2017, I participated in my very first hackathon. My team worked on a site for New Avenues for Youth, sharing resources for potential foster parents. Because I was still such a noob, I mostly helped by asking a lot of questions, researching, and working on some of the basic HTML. But it was a great introduction to the hackathon experience, and our project won first prize!</p>
          <a href="https://github.com/WeCode-Mighty-Team-8/foster-connection" class="card-link">GitHub repository</a>
        </div>
      </div>
    </div>
  </div>
</div>
