<div class="projects-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card bg-light">
        <img class="card-img-top" src="./assets/images/wic.jpg" alt="Card image cap">
        <div class="card-body">
          <p><span class="custom-title">WIC Photo Library</span><br/>
          <span class="custom-subtitle">React</span></p>
          <p class="card-text">For my Epicodus capstone project, I chose to work on a photo library interface for a previous employer to enable them to share their new custom stock photos with staff around the state. This is still a work in progress. The finished product will include a separate page with photo details, user login, and an improved admin console.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>React, React Bootstrap, Firebase</p>
          <hr/>
          <a href="https://fathomless-plateau-11174.herokuapp.com/#/" target="_blank" class="card-link">Live site</a>
          <a href="#" class="card-link">GitHub repository</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card bg-light">
        <img class="card-img-top" src="./assets/images/track.jpg" alt="Card image cap">
        <div class="card-body">
          <p><span class="custom-title">Sleep Train</span><br/>
          <span class="custom-subtitle">Angular</span></p>
          <p class="card-text">This was an Epicodus team week project. It started out as an online mood tracker but we realized we'd been too ambitious given the available time and so it was scaled it back to a sleep tracker. This was my first time being the project repository manager and I learned a lot about effectively managing pull requests.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>Angular2, ElectronJS, Typescript, ChartsJS, Angular Charts, Firebase</p>
          <hr/>
          <a href="https://github.com/hollywilkalis/pocket-cheerleader.git" class="card-link">GitHub repository</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card bg-light">
        <img class="card-img-top" src="./assets/images/minesweeper.jpg" alt="Card image cap">
        <div class="card-body">
          <p><span class="custom-title">Minesweeper</span><br/>
          <span class="custom-subtitle">Javascript</span></p>
          <p class="card-text">This is our Epicodus Javascript team week project. The game logic is largely thanks to Luke, our resident coding whiz. I primarily worked on the user interface, animations, styling, and creating the SASS mixins and functionalities necessary to swap game themes.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>HTML, JavaScript, CSS, SASS, and LOTS of whiteboarding</p>

          <hr/>
          <p>
            <a href="https://lukebertram.github.io/minesweeper/" class="card-link">Live site*</a>
            <a href="https://github.com/lukebertram/minesweeper" class="card-link">GitHub repository</a>
          </p>

          <p><em>*Note: game animations may not work in all browsers</em></p>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card bg-light">
        <img class="card-img-top" src="./assets/images/oha.png" alt="Card image cap">
        <div class="card-body">
          <p><span class="custom-title">Oregon Health Authority site migration and update</span><br/>
          <span class="custom-subtitle">Sharepoint CMS</span></p>
          <p class="card-text">I had the chance to spend about eight months working with my agencys web team to migrate the site to a new version of Sharepoint with responsive layouts. We faced a lot of challenges, including outdated content, thousands of broken links and orphaned documents, and the need to accommodate a wide variety of editor skill levels. But I'm proud of the work I did to create a site that is more usable for both staff and the public.</p>
          <hr/>
          <p class="custom-section-title">Technologies used</p>
          <p>Bootstrap, HTML, Sharepoint</p>

          <hr/>
          <ul>
            <li><a href="./assets/documents/oregon-wic.jpg" class="card-link">Oregon WIC landing page (screenshots)</a></li>
            <li><a href="./assets/documents/vital-statistics.jpg" class="card-link">Vital Statistics Annual Reports page (screenshots)</a></li>
            <li><a href="./assets/documents/radiation.jpg" class="card-link">Radiation orders archive page (screenshots)</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card bg-light">
        <img class="card-img-top" src="./assets/images/fist-bump.png" alt="Card image cap">
        <div class="card-body">
          <p class="custom-section-title">Flying blobs</p>
          <p>Our Epicodus class included a five week segment on advanced CSS. One our in-class projects gave us a chance to learn more about CSS transitions and animations, and we had a little fun playing with movement and scrolling backgrounds.</p>
          <a href="http://hollywilkalis.github.io/flying-blobs" class="card-link">Live site</a>
          <a href="https://github.com/hollywilkalis/flying-blobs" class="card-link">GitHub repository</a>
          <hr />
          <p class="custom-section-title">WECODE Hackathon 2017</p>
          <p>In December 2017, I participated in my very first hackathon. My team worked on a site for New Avenues for Youth, sharing resources for potential foster parents. Because I was still such a newbie, I mostly helped with brainstorming and basic HTML. But it was a great introduction to the hackathon experience, and our project won first prize!</p>
          <a href="foster-connections.herokuapp.com" class="card-link">Live site</a>
          <a href="https://github.com/WeCode-Mighty-Team-8/foster-connection" class="card-link">GitHub repository</a>
        </div>
      </div>
    </div>
  </div>
</div>
