
  <img class="header-image" src="./assets/images/header.png" alt="Image of path running through trees, backlit by golden light, overlaid with name Holly Wilkalis in a script font" />
  <nav class="navbar navbar-expand-lg navbar-dark custom-font" style="background-color: #261508;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-spacing active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-spacing">
          <a class="nav-link" routerLink="projects">Web design samples</a>
        </li>
        <li class="nav-item nav-spacing">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4>Holly Wilkalis</h4>
        <p>I'm an aspiring front-end web developer with a special interest in UI/UX design. I currently live and work in Portland, Oregon.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4>Get in touch</h4>
        <p><i class="material-icons">phone</i> 503.267.1698</p>
        <p><i class="material-icons">email</i> <a href="mailto:holly.wilkalis@gmail.com">holly.wilkalis@gmail.com</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4>Follow me</h4>
        <a href="https://www.linkedin.com/in/holly-wilkalis/"  target="_blank"><img src="./assets/images/linkedin.png" class="social-media-icon" alt="LinkedIn icon"/></a>
        <a href="https://github.com/hollywilkalis" target="_blank"><img src="./assets/images/github.png" class="social-media-icon" alt="GitHub icon"/></a>
        <a href="https://www.instagram.com/hollywilkalis/" target="_blank"><img src="./assets/images/instagram.png" class="social-media-icon" alt="Instagram icon"/></a>
      </div>
    </div>
  </div>
