<div class="welcome-container">
  <div class="row">

    <div class="col-9">
      <h2>Welcome!</h2>

      <p>You've found my portfolio - please feel free to take a look around!</p>

      <p>I'm an aspiring web developer with years of web content management experience and now studying coding at Epicodus.</p>

      <p></p>

    </div>

    <div class="col-3">
      <div class="polaroid-image">
        <img src="./assets/images/error.jpg" class="profile-image" alt="photo of a toy action figure of Leonardo DaVinci pointing at an error message on a computer screen"/>
        <p class="photo-caption">I'd like to think that if DaVinci was alive today, he'd be a coder too</p>
      </div>
    </div>
  </div>
</div>
