<div class="welcome-container">
  <div class="row">

    <div class="col-9">
      <h2>Welcome to my portfolio!</h2>

      <p>I am an experienced web content manager and print designer, now studying coding at Epicodus with the goal of making the move to full time web development. I'm a fan of the Oxford comma, tidy code, and accessible user interfaces.</p>

      <h3>I'm studying...</h3>
      <ul>
        <li>Javascript and jQuery</li>
        <li>Angular2</li>
        <li>React</li>
        <li>HTML and CSS</li>
        <li>Bootstrap</li>
        <li>And more!</li>
      </ul>

    </div>

    <div class="col-3">
      <div class="polaroid-image">
        <img src="./assets/images/error.jpg" class="profile-image" alt="photo of a toy action figure of Leonardo DaVinci pointing at an error message on a computer screen"/>
        <p class="photo-caption">I'd like to think that if DaVinci was alive today, he'd be a coder too</p>
      </div>
    </div>
  </div>
</div>
