
<p>My first foray into web design field came in the late 90s when I convinced my boss that our office could be more efficient communicators if we had a website. Armed with a text editor, a copy of Netscape Navigator, and a copy of HTML for Dummies, I put together a basic three page site. I assure you it was state-of-the-art, using both frames and, at various times, "under construction" images.</p>

<p>But I'm nothing if not stubborn, and I kept at it, teaching myself a little HTML here and a little Bootstrap there and working on some small sites for hobbies, which eventually led me to a position at the Oregon Health Authority, where part of my job was managing web content for a government program.</p>

<p>When I was tapped for a temporary promotion to my agency’s web development team to help with a system migration project, I realized I might have enough of an aptitude for development work and, more importantly that I really enjoyed cleaning up code and creating attractive and user-friendly sites.</p>

<p>My team leads praised my ability to spot and fix problems and my skills at organizing content and creating user interfaces. Wanting to dig deeper, I enrolled in Epicodus, where I am learning how to use tools like React and JavaScript to create better sites. Right now I’m working on my capstone project, a custom photo library for Oregon WIC built using React.</p>
